@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  div {
    font-family: archiaregular;
  }
}

html {
  font-size: 62.5%;
}

/*  PAGE GLOBAL STYLES  */
@font-face {
  font-family: 'archiaregular';
  src: url('archia-regular-webfont.eot');
  src: url('archia-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('archia-regular-webfont.woff2') format('woff2'),
    url('archia-regular-webfont.woff') format('woff'),
    url('archia-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

active {
  color: red;
}

.rounded-corner {
  border-bottom-left-radius: 100px;
}

.image-size {
  min-width: 350px;
  min-height: 250px;
  max-height: 250px;
  width: 100%;
  border-bottom-left-radius: 65px;
}

.break-word {
  overflow-wrap: break-word;
}

.link-width {
  width: 380px;
}

.link-width:hover {
  box-shadow: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}

.blog-title {
  margin: 20px 0;
  color: #070707;
  font-family: 'Archia';
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  letter-spacing: 2px;
}

.blog-description {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #070707;
  font-family: 'Archia';
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.Mui-selected {
  background-color: #423a3f !important;
  color: white !important;
}

.customTrack .mantine-Switch-body .mantine-Switch-track {
  background: #ccfa69 !important;
  border-color: #4a7081 !important;
}

.customTrack .mantine-Switch-body .mantine-Switch-track .mantine-Switch-thumb {
  border-color: #ccfa69 !important;
}

.MuiOutlinedInput-root {
  border-radius: 1rem;
  border-color: #d5d5d5;
  background-color: #d5d5d5;
}

.like,
.bookmark,
.comment {
  cursor: pointer;
}

.like path:hover {
  fill: #4a7081;
}

.bookmark path:hover {
  fill: rgb(146, 146, 47);
}

.comment path:hover {
  fill: green;
}

.author-image {
  background-image: url('../assets//img//profile.svg');
  width: 130px;
  height: 166px;
}

.border-left {
  border-bottom-left-radius: 130px;
  height: 90vh;
}

.swiper {
  width: 50%;
  height: 50%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: 400px !important;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BROWSER SCROLLBAR */

::-webkit-scrollbar {
  width: 7px;
  padding-left: 5px;
}

::-webkit-scrollbar-track {
  background: #648fa3;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #b7cbd3;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* $mobile-small: 320px;
$mobile-large: 576px;
$tablet: 768px;
$pc-small: 992px;
$pc: 1200px;
$pc-large: 1600px;

@mixin responsive($media) {
    @if $media==mobile-small {
        @media only screen and (min-width: $mobile-small) {
            @content;
        }
    } @else if $media==mobile-large {
        @media only screen and (min-width: $mobile-large) {
            @content;
        }
    } @else if $media==tablet {
        @media only screen and (min-width: $tablet) {
            @content;
        }
    } @else if $media==pc-small {
        @media only screen and (min-width: $pc-small) {
            @content;
        }
    } @else if $media==pc {
        @media only screen and (min-width: $pc) {
            @content;
        }
    } @else if $media==pc-large {
        @media only screen and (min-width: $pc-large) {
            @content;
        }
    }
} */

/* @mixin typography($size, $style, $weight, $height, $spacing, $align) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
  text-align: $align;
} */
